:root {
    --bg-color: #091921;
    --bg-screen: #ffffff;
    --color-screen: #000000;
}
/* Valores para el cambio del tema */
[data-theme = "blanco"] {
    --bg-color: #ffffff;
    --bg-screen: #000000;
    --color-screen: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
}
.calculadora {
    position: relative;
    display: grid;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.calculadora .value {
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    background-color: var(--bg-screen);
    color: var(--color-screen);
}
.calculadora span {
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: #0c2835;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
}
.calculadora span:active {
    background-color: #74ff3b;
    color: #111;
}
.calculadora span.clear {
    grid-column: span 2;
    width: 120px;
    background-color: #ff3077;
}
.calculadora span.plus {
    grid-row: span 2;
    height: 120px;
}
.calculadora span.equal{
    background-color: #03b1ff;
}
.clear, .op, .num, .igual {
    cursor: pointer;
}

/* Cambio de tema */
.temas {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tema-switch {
    display: block;
    height: 34px;
    position: relative;
    width: 60px;
    margin: 0 auto;
}
.tema-switch input {
    display: none;
}
.slider {
    background-color: #03b1ff;
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    transition: .4s all ease;
}
.slider::before {
    background-color: #ffffff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s all;
    width: 26px;
}

input:checked + .slider {
    background-color: #ff3077;
}
input:checked + .slider::before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: .25rem;
}
.slider.round::before {
    border-radius: .25rem;
}